.pre-footer {

    .color {
        background-color: #5e2c7e;
        height: 5vh;
        transform: translateY(0%);
    }
}

@media screen and (min-width: 768px) {
    .pre-footer {

        .color {
            height: 10vh;
        }
    }
}