.section-1 {
  background: url(../Images/Untitled-12-01.png);
  background-size: contain;
  background-color: #ffc117;
}
.section-1 .header {
  display: flex;
  align-items: center;
}
.section-1 .header .logo-slogan {
  width: 50%;
  padding: 0.5rem 0;
}
.section-1 .header .logo-slogan img {
  width: 60%;
}
.section-1 .header .contact .contact-details {
  display: flex;
  align-items: center;
}
.section-1 .header .contact .contact-details .icon-holder {
  width: 10%;
}
.section-1 .header .contact .contact-details .icon-holder img {
  width: 90%;
}
.section-1 .header .contact .schedule {
  font-family: "SVN-Museo", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.section-1 .header .contact .schedule .schedule-details {
  line-height: 0.9rem;
  margin-left: 0.5rem;
}
.section-1 .header .contact .schedule .schedule-details p {
  margin-bottom: 0;
}
.section-1 .header .contact .phone {
  font-family: "UTM AvoBold", sans-serif;
  color: #5e2c7e;
  font-size: 0.8rem;
  margin: auto 0;
}
.section-1 .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  opacity: 0;
  visibility: hidden;
}
.section-1 .overlay-active {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

@media screen and (min-width: 991px) {
  .section-1 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-1 .header .logo-slogan {
    width: 50%;
    padding: 1rem 0;
  }
  .section-1 .header .logo-slogan img {
    width: 30%;
  }
  .section-1 .header .contact .contact-details {
    display: flex;
  }
  .section-1 .header .contact .contact-details .icon-holder {
    width: 10%;
  }
  .section-1 .header .contact .contact-details .icon-holder img {
    width: 100%;
  }
  .section-1 .header .contact .schedule {
    font-size: 1rem;
  }
  .section-1 .header .contact .phone {
    font-size: 1.3rem;
  }
}
.navigator {
  background-color: #5e2c7e;
  position: relative;
}
.navigator .nav-bar .menu-btn {
  padding: 0.5rem 0;
  z-index: 4;
}
.navigator .nav-bar .menu-btn i {
  color: #fff;
}
.navigator .nav-bar .menu-mobile {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  top: 0;
  left: -100%;
  width: 70%;
  box-shadow: 1px 1px 5px 0px #d193f8;
  transition: left 0.8s ease-in;
  z-index: 3;
}
.navigator .nav-bar .menu-mobile .close-btn {
  text-align: right;
  padding: 0.5rem 1rem 0.5rem 0;
  color: #5e2c7e;
}
.navigator .nav-bar .menu-mobile ul {
  margin-top: 1rem;
}
.navigator .nav-bar .menu-mobile ul li {
  list-style: none;
  margin-left: 1rem;
}
.navigator .nav-bar .menu-mobile ul li a {
  font-family: "SVN-Museo", sans-serif;
  font-size: 0.8rem;
  color: #5e2c7e;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.navigator .nav-bar .menu-active {
  left: 0;
  transition: left 1s ease;
}
.navigator .nav-bar .menu-desktop {
  display: none;
}

@media screen and (min-width: 991px) {
  .navigator .nav-bar .menu-btn {
    display: none;
  }
  .navigator .nav-bar .menu-mobile {
    display: none;
  }
  .navigator .nav-bar .menu-desktop {
    display: block;
  }
  .navigator .nav-bar .menu-desktop ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    margin-bottom: 0;
  }
  .navigator .nav-bar .menu-desktop ul li {
    list-style: none;
  }
  .navigator .nav-bar .menu-desktop ul li a {
    font-family: "SVN-Museo", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffc117;
    font-size: 1rem;
  }
  .navigator .nav-bar .menu-desktop ul li a:hover {
    padding: 0.3rem 1rem;
    color: #5e2c7e;
    background-color: #ffc117;
    border-radius: 20px;
  }
}
.introduction {
  margin-bottom: 2rem;
}
.introduction .introduction-holder {
  background: url(../Images/bg-field-01.png) no-repeat;
  background-size: cover;
  padding: 0.5rem;
}
.introduction .introduction-holder .introduction-content {
  margin: 1rem 0.5rem;
  padding-bottom: 1rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 20px 0 20px;
}
.introduction .introduction-holder .introduction-content .content-header {
  font-family: "SVN-A Love Of Thunder", sans-serif;
  color: #5e2c7e;
  line-height: 2.5rem;
  padding-left: 1rem;
}
.introduction .introduction-holder .introduction-content .content-header p {
  margin-bottom: 0;
  font-size: 2rem;
}
.introduction .introduction-holder .introduction-content .content-header span {
  font-size: 2.5rem;
}
.introduction .introduction-holder .introduction-content .content-detail {
  padding-left: 1rem;
}
.introduction .introduction-holder .introduction-content .content-detail p {
  font-family: "Courier", sans-serif;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.introduction .introduction-holder .introduction-content .content-btn {
  background: url(../Images/button-bg-yellow-01.png) no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.2rem 0.5rem;
  text-align: center;
  margin-top: 1rem;
}
.introduction .introduction-holder .introduction-content .content-btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-family: "SVN-Museo", sans-serif;
  cursor: pointer;
}
.introduction .introduction-holder .introduction-content .content-list {
  margin-top: 1rem;
}
.introduction .introduction-holder .introduction-content .content-list .list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.introduction .introduction-holder .introduction-content .content-list .list-item .list-item-icon {
  text-align: right;
}
.introduction .introduction-holder .introduction-content .content-list .list-item .list-item-icon img {
  width: 50%;
}
.introduction .introduction-holder .introduction-content .content-list .list-item .description {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: "UMT AvoBold", sans-serif;
  vertical-align: middle;
  padding: 0.2rem 0.5rem;
  margin-left: 0.2rem;
  font-size: 0.8rem;
  width: 10rem;
}
.introduction .introduction-holder .introduction-content .content-list .list-item .description::before {
  content: "";
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 25px;
  width: 20px;
  left: -14px;
  top: 0;
}
.introduction .introduction-holder .introduction-content .content-list .list-item #violet {
  background-color: #5e2c7e;
}
.introduction .introduction-holder .introduction-content .content-list .list-item #blue {
  background-color: #284a8e;
}
.introduction .introduction-holder .introduction-content .content-list .list-item #green {
  background-color: #047541;
}
.introduction .introduction-holder .introduction-content .content-list .list-item #red {
  background-color: #b64940;
}
.introduction .introduction-holder .introduction-carousel {
  display: none;
}

@media screen and (min-width: 991px) {
  .introduction {
    margin-bottom: 4rem;
  }
  .introduction .introduction-holder {
    display: flex;
    justify-content: space-around;
  }
  .introduction .introduction-holder .introduction-content {
    padding: 0 2rem;
    margin: 3rem 3rem 1rem;
    border-radius: 0 30px 0 30px;
  }
  .introduction .introduction-holder .introduction-content .content-header {
    line-height: 3.8rem;
  }
  .introduction .introduction-holder .introduction-content .content-header p {
    font-size: 3rem;
  }
  .introduction .introduction-holder .introduction-content .content-header span {
    font-size: 4.5rem;
  }
  .introduction .introduction-holder .introduction-content .content-detail p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .introduction .introduction-holder .introduction-content .content-btn {
    padding: 0.5rem 1rem;
  }
  .introduction .introduction-holder .introduction-content .content-btn a {
    font-size: 1rem;
  }
  .introduction .introduction-holder .introduction-content .content-list {
    margin-top: 2rem;
    margin-left: -1rem;
  }
  .introduction .introduction-holder .introduction-content .content-list .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
  }
  .introduction .introduction-holder .introduction-content .content-list .list-item .list-item-icon {
    text-align: right;
  }
  .introduction .introduction-holder .introduction-content .content-list .list-item .list-item-icon img {
    width: 80%;
  }
  .introduction .introduction-holder .introduction-content .content-list .list-item .description {
    padding: 0.5rem 0.3rem;
  }
  .introduction .introduction-holder .introduction-content .content-list .list-item .description::before {
    height: 35px;
  }
  .introduction .introduction-holder .introduction-carousel {
    display: block;
    width: 35%;
  }
  .introduction .introduction-holder .introduction-carousel .owl-1 {
    margin-top: 4rem;
    padding: 0 1rem;
  }
  .introduction .introduction-holder .introduction-carousel .owl-1 .product-item img {
    width: 100%;
  }
}
.section-2 {
  margin-bottom: 2rem;
}
.section-2 .section-2-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f1edf4;
  padding: 1rem 0.3rem;
}
.section-2 .section-2-holder .rice-logo {
  margin-bottom: 1rem;
}
.section-2 .section-2-holder .rice-logo img {
  width: 40%;
}
.section-2 .section-2-holder .section-2-content {
  margin-bottom: 1.5rem;
}
.section-2 .section-2-holder .section-2-content h5 {
  font-family: "UTM AvoBold", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}
.section-2 .section-2-holder .section-2-content p {
  display: none;
}
.section-2 .section-2-holder .section-2-icon .icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.section-2 .section-2-holder .section-2-icon .icon-item .icon-holder {
  text-align: center;
  margin-bottom: 0.5rem;
}
.section-2 .section-2-holder .section-2-icon .icon-item .icon-holder img {
  width: 25%;
}
.section-2 .section-2-holder .section-2-icon .icon-item p {
  width: 60%;
  font-family: "UTM AvoBold", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.section-2 .section-2-holder .section-2-btn {
  background: url(../Images/button-bg-yellow-01.png) no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.2rem 0.5rem;
  text-align: center;
  margin-top: 1rem;
}
.section-2 .section-2-holder .section-2-btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-family: "SVN-Museo", sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 991px) {
  .section-2 {
    margin-bottom: 4rem;
  }
  .section-2 .section-2-holder .rice-logo img {
    width: 50%;
  }
  .section-2 .section-2-holder .section-2-content {
    margin-bottom: 1.5rem;
  }
  .section-2 .section-2-holder .section-2-content h5 {
    font-size: 2rem;
  }
  .section-2 .section-2-holder .section-2-content p {
    padding: 0 2rem;
    text-align: center;
    font-family: "Courier", sans-serif;
    font-size: 1rem;
    display: block;
    margin: 1rem 0 0 0;
  }
  .section-2 .section-2-holder .section-2-icon {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .section-2 .section-2-holder .section-2-icon .icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem 1rem 0;
  }
  .section-2 .section-2-holder .section-2-icon .icon-item .icon-holder {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .section-2 .section-2-holder .section-2-icon .icon-item .icon-holder img {
    width: 50%;
  }
  .section-2 .section-2-holder .section-2-icon .icon-item p {
    width: 100%;
    font-family: "UTM AvoBold", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .section-2 .section-2-holder .section-2-icon .icon-item #longer-width {
    width: 60%;
  }
  .section-2 .section-2-holder .section-2-icon .icon-item #p01 {
    margin-top: -6.5px;
  }
  .section-2 .section-2-holder .section-2-btn {
    padding: 0.5rem 0.8rem;
    text-align: center;
    margin-top: 1rem;
  }
  .section-2 .section-2-holder .section-2-btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-family: "SVN-Museo", sans-serif;
    cursor: pointer;
  }
}
.section-3 {
  background: url(../Images/bg-2-01.png) no-repeat;
  background-size: cover;
  height: 40vh;
  position: relative;
}
.section-3 .section-3-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(50%);
}
.section-3 .section-3-holder .section-3-logo {
  margin-bottom: 0.5rem;
}
.section-3 .section-3-holder .section-3-logo img {
  width: 12%;
}
.section-3 .section-3-holder .section-3-content h4 {
  font-family: "UTM AvoBold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.section-3 .section-3-holder .section-3-content p {
  margin: 0 auto;
  width: 60%;
  font-family: "UTM Avo", sans-serif;
  font-size: 0.8rem;
}
.section-3 .section-3-holder .section-3-img {
  display: none;
}
.section-3 .section-3-holder .banner {
  background: url(../Images/banner-01-01.png) no-repeat;
  background-size: cover;
  background-color: #5e2c7e;
  position: absolute;
  width: 100%;
  bottom: -80%;
  left: 0;
  padding: 1rem 0;
}
.section-3 .section-3-holder .banner .banner-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-3 .section-3-holder .banner .banner-header .header-content {
  font-family: "SVN-A love of thunder", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  line-height: 1.2rem;
  text-align: left;
}
.section-3 .section-3-holder .banner .banner-header .header-content p {
  margin-bottom: 0;
}
.section-3 .section-3-holder .banner .banner-header .header-icon {
  width: 10%;
  margin-left: 0.5rem;
}
.section-3 .section-3-holder .banner .banner-header .header-icon img {
  width: 90%;
}
.section-3 .section-3-holder .banner .header-p {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-3 .section-3-holder .banner .banner-header .header-content {
    font-size: 1.5rem;
    margin-left: 1;
    line-height: 1.7rem;
  }
  .section-3 .section-3-holder .banner .banner-header .header-icon {
    margin-left: 1rem;
  }
  .section-3 .section-3-holder .banner .banner-header .header-icon img {
    width: 80%;
  }
}
@media screen and (min-width: 991px) {
  .section-3 {
    height: 100vh;
    position: relative;
  }
  .section-3 .section-3-holder {
    transform: translateY(150%);
  }
  .section-3 .section-3-holder .section-3-logo {
    margin-bottom: 0;
  }
  .section-3 .section-3-holder .section-3-logo img {
    width: 5%;
  }
  .section-3 .section-3-holder .section-3-content {
    margin-top: 1.5rem;
  }
  .section-3 .section-3-holder .section-3-content h4 {
    font-size: 2rem;
  }
  .section-3 .section-3-holder .section-3-content p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .section-3 .section-3-holder .section-3-img {
    display: block;
    position: absolute;
    right: 0;
    bottom: -30vh;
  }
  .section-3 .section-3-holder .section-3-img img {
    width: 80%;
  }
  .section-3 .section-3-holder .banner {
    position: absolute;
    bottom: -70vh;
    left: 0;
    padding: 2rem;
  }
  .section-3 .section-3-holder .banner .banner-header {
    margin-bottom: 1rem;
  }
  .section-3 .section-3-holder .banner .banner-header .header-content {
    font-size: 2rem;
    margin-left: 0;
    line-height: 2rem;
  }
  .section-3 .section-3-holder .banner .banner-header .header-content p {
    margin-bottom: 0;
  }
  .section-3 .section-3-holder .banner .banner-header .header-icon {
    margin-left: -1rem;
  }
  .section-3 .section-3-holder .banner .banner-header .header-icon img {
    width: 50%;
  }
  .section-3 .section-3-holder .banner .header-p {
    text-align: left;
    display: block;
    width: 52%;
    color: #fff;
    font-family: "Courier", sans-serif;
    margin-bottom: 0;
  }
  .section-3 .section-3-holder .banner .header-p p {
    margin-bottom: 0;
  }
}
.section-4 {
  background: url(../Images/bg-2-01.png) no-repeat;
  background-size: cover;
  transform: translateY(-40%);
  height: 50vh;
}
.section-4 .section-4-holder {
  text-align: center;
  transform: translateY(100%);
  padding-top: 2rem;
}
.section-4 .section-4-holder .logo-holder {
  margin-bottom: 0.5rem;
}
.section-4 .section-4-holder .logo-holder img {
  width: 15%;
}
.section-4 .section-4-holder .section-4-content {
  background: url(../Images/section-4-bg-01.png) no-repeat;
  background-size: cover;
  height: 15vh;
}
.section-4 .section-4-holder .section-4-content h4 {
  font-family: "SVN-A love of thunder", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.section-4 .section-4-holder .section-4-content p {
  font-family: "Courier", sans-serif;
  font-size: 0.8rem;
}
.section-4 .section-4-holder .section-4-grid {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-4 {
    transform: translateY(-50%);
    height: 90vh;
  }
  .section-4 .section-4-holder {
    transform: translateY(40%);
    padding-top: 5rem;
  }
  .section-4 .section-4-holder .logo-holder img {
    width: 10%;
  }
  .section-4 .section-4-holder .section-4-content {
    height: 20vh;
  }
  .section-4 .section-4-holder .section-4-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2rem;
  }
  .section-4 .section-4-holder .section-4-grid .img-holder img {
    width: 100%;
  }
  .section-4 .section-4-holder .section-4-grid .img-holder:nth-child(3) {
    grid-column: 3/5;
  }
  .section-4 .section-4-holder .section-4-grid .img-holder:nth-child(4) {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 991px) {
  .section-4 {
    transform: translateY(-50%);
    height: 90vh;
  }
  .section-4 .section-4-holder {
    transform: translateY(35%);
    padding-top: 5rem;
  }
  .section-4 .section-4-holder .logo-holder img {
    width: 10%;
  }
  .section-4 .section-4-holder .section-4-content {
    height: 20vh;
  }
  .section-4 .section-4-holder .section-4-content h4 {
    font-size: 2rem;
  }
  .section-4 .section-4-holder .section-4-content p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .section-4 .section-4-holder {
    transform: translateY(50%);
    padding-top: 5rem;
  }
}
.section-5 {
  margin-top: -2rem;
}
.section-5 .section-5-holder {
  text-align: center;
}
.section-5 .section-5-holder .logo-holder img {
  width: 20%;
}
.section-5 .section-5-holder .section-5-header {
  width: 65%;
  margin: 0.8rem auto;
}
.section-5 .section-5-holder .section-5-header h4 {
  font-family: "SVN-A love of thunder", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.section-5 .section-5-holder .owl-3 .owl-3-item {
  background-color: #5e2c7e;
  border-radius: 15px;
  padding: 1rem 0;
  margin: 0 2rem;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .portrait-holder img {
  border-radius: 50%;
  border: 4px solid #fff;
  width: 35%;
  margin: 0 auto;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-info {
  color: #fff;
  margin: 0.5rem 0;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-info h6 {
  font-family: "UTM Avo", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-info span {
  display: block;
  font-style: italic;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-content {
  background-color: #fff;
  margin: 1rem 1rem 0;
  padding: 0.5rem;
  border-radius: 15px;
  position: relative;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-content p {
  font-family: "Courier", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0;
  -webkit-text-decoration: underline #ccc;
          text-decoration: underline #ccc;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-content .item-arrow {
  position: absolute;
  top: -8%;
  right: 22%;
}
.section-5 .section-5-holder .owl-3 .owl-3-item .item-content .item-arrow img {
  width: 60%;
}
.section-5 .section-5-holder .owl-3 .yellow-bg-item {
  background-color: #febe10;
}
.section-5 .section-5-holder .owl-3 .yellow-bg-item .item-info {
  color: black;
}

@media screen and (min-width: 375px) {
  .section-5 .section-5-holder .owl-3 .owl-3-item {
    margin: 0 3.5rem;
  }
}
@media screen and (min-width: 425px) {
  .section-5 .section-5-holder .owl-3 .owl-3-item {
    margin: 0 4rem;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item .portrait-holder img {
    width: 30%;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item .item-content .item-arrow {
    position: absolute;
    top: -8%;
    right: 26%;
  }
}
@media screen and (min-width: 768px) {
  .section-5 {
    transform: translateY(50%);
  }
  .section-5 .section-5-holder .logo-holder img {
    width: 15%;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item {
    margin: 0 0.5rem;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item .item-content .item-arrow {
    position: absolute;
    top: -6%;
    right: 20%;
  }
}
@media screen and (min-width: 991px) {
  .section-5 {
    transform: translateY(45%);
  }
  .section-5 .section-5-holder .logo-holder img {
    width: 15%;
  }
  .section-5 .section-5-holder .section-5-header h4 {
    font-size: 2rem;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item {
    margin: 0 1rem;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item .item-info h6 {
    font-size: 1rem;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item .item-content p {
    font-size: 1rem;
  }
  .section-5 .section-5-holder .owl-3 .owl-3-item .item-content .item-arrow {
    position: absolute;
    top: -5%;
    right: 22%;
  }
}
@media screen and (min-width: 1440px) {
  .section-5 .section-5-holder .owl-3 .owl-3-item .item-content .item-arrow {
    position: absolute;
    top: -5%;
    right: 32%;
  }
}
.section-6 {
  background: url(../Images/section-6-bg-01.png) no-repeat;
  background-size: cover;
  margin: 2rem 0;
}
.section-6 .section-6-holder {
  text-align: center;
  padding: 1rem 0;
}
.section-6 .section-6-holder .logo-holder img {
  width: 10%;
}
.section-6 .section-6-holder .section-6-header {
  margin: 0.5rem 0;
}
.section-6 .section-6-holder .section-6-header h4 {
  font-family: "SVN-A love of thunder", sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
}
.section-6 .section-6-holder .section-6-header p {
  font-family: "Courier", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.section-6 .section-6-holder .section-6-img .img-holder img {
  width: 100%;
}
.section-6 .section-6-holder .section-6-btn {
  background: url(../Images/section-6-bg-btn-01.png) no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
}
.section-6 .section-6-holder .section-6-btn a {
  font-family: "SVN-Museo", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-6 {
    margin: 16rem 0 2rem;
  }
  .section-6 .section-6-holder .logo-holder img {
    width: 5%;
  }
  .section-6 .section-6-holder .section-6-header {
    margin: 1rem 0;
  }
}
@media screen and (min-width: 991px) {
  .section-6 {
    margin: 18rem 0 2rem;
  }
  .section-6 .section-6-holder .section-6-header {
    margin: 1rem 0;
  }
  .section-6 .section-6-holder .section-6-header h4 {
    font-size: 2rem;
  }
  .section-6 .section-6-holder .section-6-header p {
    font-size: 1.2rem;
  }
  .section-6 .section-6-holder .section-6-btn {
    padding: 0.5rem 0.8rem;
    margin: 2rem 0;
  }
  .section-6 .section-6-holder .section-6-btn a {
    font-size: 1rem;
  }
}
.section-7 .section-7-holder {
  text-align: center;
  padding: 1rem;
  background-color: #5e2c7e;
}
.section-7 .section-7-holder .logo-holder {
  margin: 2rem 0;
}
.section-7 .section-7-holder .logo-holder img {
  width: 40%;
}
.section-7 .section-7-holder .map-holder iframe {
  width: 100%;
  border-radius: 15px;
}
.section-7 .section-7-holder .section-7-btn .btn-item {
  margin: 1rem 2rem;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 15px;
}
.section-7 .section-7-holder .section-7-btn .btn-item .btn-logo img {
  width: 15%;
}
.section-7 .section-7-holder .section-7-btn .btn-item .btn-caption {
  margin: 0.5rem 0;
}
.section-7 .section-7-holder .section-7-btn .btn-item .btn-caption h4 {
  font-family: "SVN-Museo", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.section-7 .section-7-holder .section-7-btn .btn-item .btn-btn {
  width: 50%;
  padding: 0.1rem 0.3rem;
  background-color: #ed1c24;
  margin: 0 auto;
  border-radius: 8px;
}
.section-7 .section-7-holder .section-7-btn .btn-item .btn-btn a {
  font-family: "UTM Avo", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 425px) {
  .section-7 .section-7-holder .map-holder iframe {
    height: 50vh;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item {
    margin: 1rem 4rem;
  }
}
@media screen and (min-width: 768px) {
  .section-7 {
    margin-top: 3rem;
  }
  .section-7 .section-7-holder .logo-holder img {
    width: 25%;
  }
  .section-7 .section-7-holder .map-holder iframe {
    height: 80vh;
  }
  .section-7 .section-7-holder .section-7-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item {
    margin: 1rem 4rem;
    border: none;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item .btn-logo img {
    width: 25%;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item .btn-btn {
    width: 60%;
    padding: 0.2rem 0.5rem;
  }
}
@media screen and (min-width: 991px) {
  .section-7 {
    margin-top: 5rem;
  }
  .section-7 .section-7-holder {
    padding: 2rem;
  }
  .section-7 .section-7-holder .logo-holder img {
    width: 20%;
  }
  .section-7 .section-7-holder .map-holder iframe {
    height: 80vh;
  }
  .section-7 .section-7-holder .section-7-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item {
    margin: 1rem 4rem;
    border: none;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item .btn-logo img {
    width: 30%;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item #sc7-icon-2 img {
    width: 32%;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item .btn-caption h4 {
    font-size: 1rem;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item .btn-caption p {
    font-size: 1rem;
  }
  .section-7 .section-7-holder .section-7-btn .btn-item .btn-btn a {
    font-size: 1rem;
  }
}
.section-8 .section-8-holder {
  text-align: center;
  background-color: #3b0863;
  padding: 1rem;
}
.section-8 .section-8-holder .form {
  padding: 1rem 0.5rem;
  background-color: #fff;
  border-radius: 15px;
}
.section-8 .section-8-holder .form .form-header h4 {
  font-family: "UTM Avo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}
.section-8 .section-8-holder .form .form-header p {
  font-family: "SVN-Museo", sans-serif;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
.section-8 .section-8-holder .form .form-details input {
  margin: 0.3rem 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  outline: none;
}
.section-8 .section-8-holder .form .form-details .select-details select {
  width: 100%;
  margin: 0.3rem 0;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  color: #808080;
  outline: none;
}
.section-8 .section-8-holder .form .form-details textarea {
  width: 100%;
  height: 20vh;
  margin: 0.3rem 0;
  color: #808080;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  outline: none;
}
.section-8 .section-8-holder .form button {
  border: none;
  outline: none;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0 0 0;
  border-radius: 8px;
  background-color: #ed1c24;
  color: #fff;
  text-transform: uppercase;
  font-family: "UTM Avo", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.section-8 .section-8-holder .form:nth-child(2) {
  margin-top: 2rem;
}
.section-8 .section-8-holder .form:nth-child(2) .form-header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .section-8 .section-8-holder {
    padding: 2rem 1rem;
  }
  .section-8 .section-8-holder .form {
    padding: 2rem 4rem;
  }
  .section-8 .section-8-holder .form .form-header p {
    font-size: 1rem;
  }
  .section-8 .section-8-holder .form .form-details {
    width: 50%;
    margin: 0 auto;
  }
  .section-8 .section-8-holder .form .form-details input {
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  .section-8 .section-8-holder .form .form-details .select-details select {
    padding: 0.5rem;
    margin: 0.5rem 0;
  }
  .section-8 .section-8-holder .form .form-details textarea {
    height: 30vh;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  .section-8 .section-8-holder .form button {
    padding: 0.5rem 0.8rem;
  }
  .section-8 .section-8-holder .form:nth-child(2) .form-details {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .section-8 .section-8-holder .form:nth-child(2) .form-details input {
    margin: 0;
  }
  .section-8 .section-8-holder .form:nth-child(2) .form-details .select-details {
    display: flex;
  }
  .section-8 .section-8-holder .form:nth-child(2) .form-details .select-details select {
    margin: 0;
  }
  .section-8 .section-8-holder .form:nth-child(2) .form-details textarea {
    grid-column: 1/3;
    margin: 0;
  }
  .section-8 .section-8-holder .form:nth-child(2) button {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 991px) {
  .section-8 .section-8-holder {
    padding: 2rem;
  }
  .section-8 .section-8-holder .form {
    padding: 2rem 4rem;
  }
  .section-8 .section-8-holder .form .form-header h4 {
    font-size: 2rem;
    width: 100%;
  }
  .section-8 .section-8-holder .form .form-header p {
    font-size: 1.1rem;
  }
  .section-8 .section-8-holder .form .form-details {
    width: 40%;
  }
  .section-8 .section-8-holder .form button {
    padding: 0.6rem 1rem;
  }
  .section-8 .section-8-holder .form:nth-child(2) {
    margin-top: 3rem;
  }
}
.section-9 {
  position: fixed;
  bottom: 5vh;
  left: 0;
  z-index: 99;
}
.section-9 .img-holder {
  width: 20%;
  text-align: left;
}
.section-9 .img-holder img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-9 {
    left: 1vh;
  }
}
.section-10 {
  position: fixed;
  bottom: 30vh;
  right: 0;
  z-index: 99;
}
.section-10 .social-icon-holder .item {
  text-align: right;
  margin-bottom: 0.8rem;
}
.section-10 .social-icon-holder .item img {
  width: 30%;
}

.content-1 {
  background: url(../Images/bg-3-01.png) no-repeat;
  background-size: cover;
  padding: 2rem 0;
  position: relative;
}
.content-1 .owl-2 .owl-2-item {
  text-align: center;
  margin: 0 3.8rem;
  border: 2px solid #662d91;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content-1 .owl-2 .owl-2-item .item-img {
  height: 12.5rem;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 15px 15px 0 0;
}
.content-1 .owl-2 .owl-2-item .item-img img {
  width: 100%;
  height: 100%;
}
.content-1 .owl-2 .owl-2-item .item-details {
  background-color: #f1edf4;
  padding: 0.5rem 0 1.5rem;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-1 .owl-2 .owl-2-item .item-details .details-text {
  flex: 0 0 5rem;
}
.content-1 .owl-2 .owl-2-item .item-details .details-text h5 {
  font-family: "UTM AvoBold", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
}
.content-1 .owl-2 .owl-2-item .item-details .details-text p {
  font-family: "UTM Avo", sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 0;
}
.content-1 .owl-2 .owl-2-item .item-details .details-text p span {
  display: block;
}
.content-1 .owl-2 .owl-2-item .item-details .details-btn {
  font-family: "SVN-Museo", sans-serif;
  text-transform: uppercase;
  padding: 0.1rem 0.7rem;
  background-color: #5e2c7e;
  width: 50%;
  margin: 0rem auto;
  border-radius: 15px;
  font-size: 0.7rem;
}
.content-1 .owl-2 .owl-2-item .item-details .details-btn a {
  text-decoration: none;
  color: #fff;
}
.content-1 .owl-2 .owl-2-item .item-details .details-btn:hover {
  background-color: #fff;
  border: 1px solid #5e2c7e;
}
.content-1 .owl-2 .owl-2-item .item-details .details-btn:hover a {
  color: #5e2c7e;
}
.content-1 .owl-btn {
  position: absolute;
  top: 42%;
  border: none;
  background: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: #5e2c7e;
  z-index: 1;
}
.content-1 .owl-next {
  right: 3%;
}
.content-1 .owl-prev {
  left: 3%;
}

.general-content {
  padding: 1rem 0 2rem;
}

#yellow-details .item-details {
  background-color: #fff4d7;
}

#green-details .item-details {
  background-color: #dae7e1;
}

#red-details {
  background: none;
  padding-bottom: 0;
}
#red-details .item-details {
  background-color: #f5e9e8;
}

@media screen and (min-width: 375px) {
  .content-1 {
    padding-top: 3rem;
  }
  .content-1 .owl-2 .owl-2-item .item-img {
    height: 18rem;
  }
  .content-1 .owl-btn {
    top: 45%;
  }
}
@media screen and (min-width: 425px) {
  .content-1 {
    padding-top: 4rem;
  }
  .content-1 .owl-2 .owl-2-item .item-img {
    height: 22rem;
  }
}
@media screen and (min-width: 768px) {
  .content-1 {
    padding-top: 7rem;
  }
  .content-1 .owl-2 .owl-2-item .item-img {
    height: 18rem;
  }
  .content-1 .owl-btn {
    top: 50%;
  }

  .general-content {
    padding: 2rem 0;
  }
  .general-content .owl-btn {
    top: 45%;
  }
}
@media screen and (min-width: 991px) {
  .content-1 {
    padding-top: 12rem;
  }
  .content-1 .owl-2 {
    margin: 4rem 0 2rem;
  }
  .content-1 .owl-2 .owl-2-item {
    margin: 0 0.8rem;
  }
  .content-1 .owl-2 .owl-2-item .item-img {
    height: 20rem;
  }
  .content-1 .owl-2 .owl-2-item .item-details .details-text {
    flex: 0 0 8rem;
  }
  .content-1 .owl-2 .owl-2-item .item-details .details-text h5 {
    font-size: 1.2rem;
  }
  .content-1 .owl-2 .owl-2-item .item-details .details-text p {
    font-size: 0.9rem;
  }
  .content-1 .owl-2 .owl-2-item .item-details .details-btn {
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
  }
  .content-1 .owl-btn {
    top: 60%;
  }

  .general-content {
    padding: 1.5rem 0 2rem;
  }
  .general-content .owl-btn {
    top: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .content-1 {
    padding-top: 8rem;
  }
  .content-1 .owl-next {
    right: 10%;
  }
  .content-1 .owl-prev {
    left: 10%;
  }
}
.banner-2 .banner-holder {
  background: url(../Images/banner-02-01.png) no-repeat;
  background-size: cover;
  background-color: #284a8e;
  padding: 1rem 0;
}
.banner-2 .banner-holder .banner-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-2 .banner-holder .banner-header .header-content {
  font-family: "SVN-A love of thunder", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  line-height: 1.2rem;
  text-align: left;
}
.banner-2 .banner-holder .banner-header .header-content p {
  margin-bottom: 0;
}
.banner-2 .banner-holder .banner-header .header-icon {
  width: 10%;
  margin-left: 0.5rem;
}
.banner-2 .banner-holder .banner-header .header-icon img {
  width: 90%;
}
.banner-2 .banner-holder .header-p {
  display: none;
}

#green-banner .banner-holder {
  background: url(../Images/banner-03-01.png) no-repeat;
  background-size: cover;
  background-color: #047541;
}

#red-banner .banner-holder {
  background: url(../Images/banner-04-01.png) no-repeat;
  background-size: cover;
  background-color: #b64940;
}

@media screen and (min-width: 768px) {
  .banner-2 .banner-holder .banner-header .header-content {
    font-size: 1.5rem;
    margin-left: 1;
    line-height: 1.7rem;
  }
  .banner-2 .banner-holder .banner-header .header-icon {
    margin-left: 1rem;
  }
  .banner-2 .banner-holder .banner-header .header-icon img {
    width: 80%;
  }
}
@media screen and (min-width: 991px) {
  .banner-2 .banner-holder {
    padding: 1.5rem 2rem;
  }
  .banner-2 .banner-holder .banner-header {
    margin-bottom: 1rem;
  }
  .banner-2 .banner-holder .banner-header .header-content {
    font-size: 2rem;
    margin-left: 0;
    line-height: 2rem;
  }
  .banner-2 .banner-holder .banner-header .header-content p {
    margin-bottom: 0;
  }
  .banner-2 .banner-holder .banner-header .header-icon {
    margin-left: 1rem;
  }
  .banner-2 .banner-holder .banner-header .header-icon img {
    width: 50%;
  }
  .banner-2 .banner-holder .header-p {
    text-align: left;
    display: block;
    width: 51%;
    color: #fff;
    font-family: "Courier", sans-serif;
    margin-bottom: 0;
  }
  .banner-2 .banner-holder .header-p p {
    margin-bottom: 0;
  }
}
.footer {
  background-color: #ffcc00;
  margin-top: 1rem;
}
.footer .footer-holder {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #464243;
}
.footer .footer-holder .footer-item {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.footer .footer-holder .footer-item .icon-holder {
  font-size: 2rem;
  color: #797171;
}
.footer .footer-holder .footer-item .content {
  font-family: "Courier", sans-serif;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.footer .footer-holder .footer-item .content span {
  display: block;
}
.footer .footer-holder .footer-item img {
  width: 20%;
}
.footer .footer-holder .footer-item:last-child {
  margin-top: 0.5rem;
}
.footer .footer-info {
  padding: 1rem;
}
.footer .footer-info p {
  margin-bottom: 0;
  font-family: "SVN-Museo", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .footer-holder {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex: 25%;
  }
  .footer .footer-holder .footer-item {
    flex: 0 0 22%;
  }
  .footer .footer-holder .footer-item .icon-holder {
    font-size: 2rem;
    color: #797171;
  }
  .footer .footer-holder .footer-item .content {
    font-family: "Courier", sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .footer .footer-holder .footer-item .content span {
    display: block;
  }
  .footer .footer-holder .footer-item img {
    width: 20%;
  }
  .footer .footer-holder .footer-item:first-child {
    flex: 0 0 50%;
  }
  .footer .footer-holder .footer-item:last-child {
    flex: 0 0 5%;
  }
  .footer .footer-holder .footer-item:last-child img {
    width: 100%;
  }
  .footer .footer-info {
    padding: 1rem;
  }
  .footer .footer-info p {
    margin-bottom: 0;
    font-family: "SVN-Museo", sans-serif;
    font-size: 0.8rem;
    text-align: center;
  }
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Courier;
  src: url(../Fonts/courier.ttf);
}
@font-face {
  font-family: SVN-Museo;
  src: url(../Fonts/SVN-Museo-Sans-Regular.ttf);
}
@font-face {
  font-family: SVN-A love of thunder;
  src: url(../Fonts/SVN-SVN-A-Love-Of-Thunder.ttf);
}
@font-face {
  font-family: UTM Avo;
  src: url(../Fonts/UTM-Avo.ttf);
}
@font-face {
  font-family: UTM AvoBold_Italic;
  src: url(../Fonts/UTM-AvoBold_Italic.ttf);
}
@font-face {
  font-family: UTM AvoBold;
  src: url(../Fonts/UTM-AvoBold.ttf);
}/*# sourceMappingURL=style.css.map */